.selected-li{
    color: rgb(79 70 229 / var(--tw-text-opacity));
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    
}
.selected-li svg path{
    stroke: blue;
}
.nav-bar{
    color: blue;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px; 
}
.nav-bar:hover{
    color: blue;
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
}
.nav-bar svg path{
    stroke: blue;
}